name: check

on:
  workflow_dispatch: # Allows triggering this workflow via the API

jobs:
  pipeline:
    name: Create Helm chart

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: hello
        run: |
            echo "hello"

name: check
